<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <http auto-config="true"  >
        <intercept-url pattern='/p-redirect' access='ROLE_DEVELOPER, ROLE_CUSTOMER, ROLE_ADMIN' />
        <intercept-url pattern='/view/private/admin' access='ROLE_ADMIN' />
        <intercept-url pattern='/view/private/developer' access='ROLE_DEVELOPER' />
        <intercept-url pattern='/profile' access='ROLE_DEVELOPER' />
        <intercept-url pattern='/view/private/customer' access='ROLE_CUSTOMER' />
        <form-login
                login-page="/view/public/sign_in.jsp"
                default-target-url="/"
                authentication-failure-url="/view/public/sign_in.jsp?error=true"
                username-parameter="username"
                password-parameter="password" />
        <logout delete-cookies="JSESSIONID" success-handler-ref="logoutSuccessHandler"/>

        <session-management invalid-session-url="/" session-fixation-protection="newSession">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>

        <remember-me key="FoodService" token-validity-seconds="864000" />
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService"  />
    </authentication-manager>
    
    <beans:bean id="userService" class="com.project.security.CustomUserDetailsService"/>
    <beans:bean id="logoutSuccessHandler" class="com.project.security.CustomLogoutSuccessHandler" />

</beans:beans>