#leftBar {
    float: left; width: 250px;
    background: lightskyblue;
    border: solid 3px #fff;
    border-radius: 10px 10px 10px 10px;
    /*vertical-align: top;*/
    /*display: inline-block;*/
    /*margin-left: 25px;*/
    /*width: 250px;*/
    /*height: 485px;*/
    /*padding: 15px 20px 35px 20px;*/
    /*background: #A3B6C5;*/
    /*text-align: left;*/
}

.searchText {
    vertical-align: top;
    display: inline-block;
    width: 80px;
    line-height: 1.5em;
    margin-left: 10px;
}

.searchInput {
    vertical-align: top;
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.searchInput input {
    width: 165px;
}

input.price {
    width: 20px;
    text-align: center;
    margin-left: 5px;
}
