@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);

body {
    background: #d4d4d4;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #666;
}

footer {
    border-top: solid 3px #fff;
    min-height: 100px;
    background: lightskyblue;
    border-radius: 0 0 10px 10px;
}
.clear {
    clear: both;
}

.wrapper {
    width: 1100px;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 3px #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.top {
    min-height: 100px;
    background: lightskyblue;
    border-radius: 10px 10px 0 0;
}

.content {
    min-height: 200px;
    padding: 20px;
    background: #e4e4e4;
    border-radius: 0 0 10px 10px;
}

.pageTitle {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    color: #000;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: rgb(58,58,58);
    border-top: solid 3px #fff;
    border-bottom: solid 3px #fff;
    /*
    box-shadow:  0px -2px 3px -1px rgba(0, 0, 0, 1);
    */
}

.navigation li {
    float: left;
}

.navigation li:hover {
    background: #222;
}

.navigation li:first-child {
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 0 0 5px;
}

.navigation li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
}

.navigation ul {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: -3px;
    padding: 0;
    overflow: hidden;
}

.navigation ul li {
    float: none;
}

.navigation li:hover > ul {
    display: block;
    background: #222;
    border: solid 3px #fff;
    border-top: 0;

    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;

    -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.navigation li:hover > ul li:hover {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
    background: #000;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}




p.smallText {
    font-size: 12px;
}

p.middleText {
    font-style: italic;
    font-size: 16px;
}

.simple-button {
    margin-left: 20px;
    -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
    background-color:#5B74A8;
    border:1px solid #29447E;
    font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
    font-size:12px;
    font-weight:700;
    padding:2px 6px;
    height:28px;
    color:#fff;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}